<!-- No incluir guión medio en los nombres de los partials! -->
<div class="col-md-3">
    <div class="card player">
        <img class="card-img-top" src="{{photo}}" alt="{{name}} {{lastName}}">
        <div class="card-body">
            <h4>{{name}}</h4>
            <p class="card-text">{{name}} {{lastName}}</p>
            <hr>
            <small>Equipo: {{team}}</small>
        </div>
    </div>
</div>